
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
body{
background-color: purple;
color: black;
display: flex;
justify-content: center;
align-items: center;
font-family: "Outfit", sans-serif;
font-size: 18px;
}

.img01{
    width: 30%;

    button{
        background-color: black;
        color: yellow;
        padding: 25px;
}          
