body{
background-color: purple(225, 152, 220);
color: black(21, 7, 7);
display: flex;
justify-content: center;
align-items: center;
}

.img01{
    width: 30%;

    button{
        background-color: black;
        color: yellow;
        padding: 25px;
}          